---
import { actions } from 'astro:actions'
import MainLayout from '../Layouts/MainLayout.astro'
import PlaceCards from '../components/PlaceCards.astro'

const {data=[],error} = await actions.getPlaces();

---

<MainLayout>
	<h1 class="text-3xl font-extrabold">Lugares</h1>
	<div class='grid grid-cols-3 gap-4'>

		{
			data?.map(place => <PlaceCards/>)
		}
		<!-- <PlaceCards/> -->
	</div>
</MainLayout>
